
<div class="container text-center">
   <form action="/api/products" id="productsForm" method="GET">
    <input type="text" class="form-control" id="search" name="title" placeholder="Buscador de Vehiculos" required>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <div class="row justify-content-evenly">
    {{#each products.docs}}
    <div class="card col-8" style="width: 20rem; margin: 5rem">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-title" id="id" data-id="{{this._id}}">Id:{{this._id}}</h6>
        <input class="form-control" id="_id" value="{{this._id}}" hidden>
        <p class="card-text">{{this.owner}}</p>
        <button class="btn btn-danger" id="deleteOne">Eliminar</button>
      </div>
    </div>
    {{/each}}
  </div>
  <div>
    {{#if products.hasPrevPage}}
    <a href="?title={{searchQuery}}&page={{products.prevPage}}" class="btn btn-dark">Anterior</a>
    {{/if}}
    {{#if products.hasNextPage}}
    <a href="?title={{searchQuery}}&page={{products.nextPage}}" class="btn btn-dark">Siguiente</a>
    {{/if}}
  </div>
</div>

<script>
  const productForm = document.getElementById('productsForm');
  productForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const searchInput = document.getElementById('search');
    const searchTerm = searchInput.value;
    window.location.href = `http://localhost:8080/delete_product?title=${searchTerm}`;
  });

  const deleteOne = document.querySelectorAll('#deleteOne')
  deleteOne.forEach((btn,index)=>{
      btn.addEventListener('click', async()=>{
      const inputId = document.querySelectorAll('#_id')[index];
      const pid = inputId.value
        try {
          const response = await fetch(`/api/products/${pid}`, { method: 'DELETE' });
          if (response) {
            const result = await response.json();
            alert('Producto eliminado correctamente', result);
            location.reload();
          } else {
            alert('Error al eliminar al Producto');
            location.reload();
          }
        } catch (error) {
          alert('Error de conexión al eliminar Producto:', error);
          location.reload();
        }
    })
  })

</script>